This exercise will require you to pull some data from the Qunadl API. Qaundl is currently the most widely used aggregator of financial market data.

As a first step, you will need to register a free account on the http://www.quandl.com website.

After you register, you will be provided with a unique API key, that you should store:

In [27]:
# Store the API key as a string - according to PEP8, constants are always named in all upper case
API_KEY = 'g3qpNEVUay1Wa4HXxBHL'


Qaundl has a large number of data sources, but, unfortunately, most of them require a Premium subscription. Still, there are also a good number of free datasets.

For this mini project, we will focus on equities data from the Frankfurt Stock Exhange (FSE), which is available for free. We'll try and analyze the stock prices of a company called Carl Zeiss Meditec, which manufactures tools for eye examinations, as well as medical lasers for laser eye surgery: https://www.zeiss.com/meditec/int/home.html. The company is listed under the stock ticker AFX_X.

You can find the detailed Quandl API instructions here: https://docs.quandl.com/docs/time-series

While there is a dedicated Python package for connecting to the Quandl API, we would prefer that you use the *requests* package, which can be easily downloaded using *pip* or *conda*. You can find the documentation for the package here: http://docs.python-requests.org/en/master/

Finally, apart from the *requests* package, you are encouraged to not use any third party Python packages, such as *pandas*, and instead focus on what's available in the Python Standard Library (the *collections* module might come in handy: https://pymotw.com/3/collections/).
Also, since you won't have access to DataFrames, you are encouraged to us Python's native data structures - preferably dictionaries, though some questions can also be answered using lists.
You can read more on these data structures here: https://docs.python.org/3/tutorial/datastructures.html

Keep in mind that the JSON responses you will be getting from the API map almost one-to-one to Python's dictionaries. Unfortunately, they can be very nested, so make sure you read up on indexing dictionaries in the documentation provided above.

In [28]:
# First, import the relevant modules

import requests

In [29]:
# Now, call the Quandl API and pull out a small sample of the data (only one day) to get a glimpse
# into the JSON structure that will be returned
data=requests.get("https://www.quandl.com/api/v3/datasets/FSE/AFX_X.json?start_date=2018-07-01&end_date=2018-07-31&api_key=%s" %API_KEY)

In [30]:
# Inspect the JSON structure of the object you created, and take note of how nested it is,
# as well as the overall structure
print(data.json())

{'dataset': {'id': 10095370, 'oldest_available_date': '2000-06-07', 'premium': False, 'data': [['2018-07-31', None, 67.55, 65.9, 66.45, None, 84168.0, 5597404.0, None, None, None], ['2018-07-30', None, 67.35, 66.85, 67.2, None, 35731.0, 2399532.0, None, None, None], ['2018-07-27', None, 67.6, 67.05, 67.2, None, 39471.0, 2655320.0, None, None, None], ['2018-07-26', None, 67.75, 66.75, 67.15, None, 62259.0, 4185095.0, None, None, None], ['2018-07-25', None, 67.2, 65.6, 67.1, None, 73666.0, 4919963.0, None, None, None], ['2018-07-24', None, 66.5, 65.3, 65.7, None, 71397.0, 4704819.0, None, None, None], ['2018-07-23', None, 65.95, 65.05, 65.95, None, 58031.0, 3817744.0, None, None, None], ['2018-07-20', None, 66.4, 65.25, 65.75, None, 84008.0, 5527735.0, None, None, None], ['2018-07-19', None, 66.9, 64.85, 65.0, None, 79571.0, 5203540.0, None, None, None], ['2018-07-18', None, 66.8, 66.1, 66.8, None, 53036.0, 3530697.0, None, None, None], ['2018-07-17', None, 66.0, 64.5, 65.9, None, 46492.0, 3046350.0, None, None, None], ['2018-07-16', None, 64.65, 63.55, 64.6, None, 57261.0, 3680350.0, None, None, None], ['2018-07-13', None, 65.5, 63.9, 64.0, None, 63161.0, 4064001.0, None, None, None], ['2018-07-12', None, 65.05, 63.25, 64.9, None, 85581.0, 5511566.0, None, None, None], ['2018-07-11', None, 63.5, 62.7, 62.9, None, 59396.0, 3740208.0, None, None, None], ['2018-07-10', None, 63.4, 62.6, 63.35, None, 74335.0, 4695641.0, None, None, None], ['2018-07-09', None, 63.25, 62.25, 62.5, None, 61523.0, 3852056.0, None, None, None], ['2018-07-06', None, 63.7, 61.3, 62.2, None, 89445.0, 5580643.0, None, None, None], ['2018-07-05', None, 61.6, 60.85, 61.4, None, 53878.0, 3301491.0, None, None, None], ['2018-07-04', None, 61.15, 59.85, 61.15, None, 66921.0, 4074096.0, None, None, None], ['2018-07-03', None, 60.4, 57.6, 60.1, None, 117722.0, 6993521.0, None, None, None], ['2018-07-02', None, 58.4, 57.7, 58.05, None, 33629.0, 1954900.0, None, None, None]], 'column_names': ['Date', 'Open', 'High', 'Low', 'Close', 'Change', 'Traded Volume', 'Turnover', 'Last Price of the Day', 'Daily Traded Units', 'Daily Turnover'], 'type': 'Time Series', 'order': None, 'collapse': None, 'limit': None, 'database_id': 6129, 'database_code': 'FSE', 'dataset_code': 'AFX_X', 'start_date': '2018-07-01', 'end_date': '2018-07-31', 'description': 'Stock Prices for Carl Zeiss Meditec (AFX) from the Frankfurt Stock Exchange.<br><br>Trading System: Xetra<br><br>ISIN: DE0005313704', 'transform': None, 'name': 'Carl Zeiss Meditec (AFX_X)', 'column_index': None, 'refreshed_at': '2018-08-10T22:48:30.399Z', 'newest_available_date': '2018-08-10', 'frequency': 'daily'}}

These are your tasks for this mini project:

1. Collect data from the Franfurt Stock Exchange, for the ticker AFX_X, for the whole year 2017 (keep in mind that the date format is YYYY-MM-DD).
2. Convert the returned JSON object into a Python dictionary.
3. Calculate what the highest and lowest opening prices were for the stock in this period.
4. What was the largest change in any one day (based on High and Low price)?
5. What was the largest change between any two days (based on Closing Price)?
6. What was the average daily trading volume during this year?
7. (Optional) What was the median trading volume during this year. (Note: you may need to implement your own function for calculating the median.)

In [31]:
#Collect data from the Franfurt Stock Exchange, for the ticker AFX_X, for the whole year 2017

data=requests.get("https://www.quandl.com/api/v3/datasets/FSE/AFX_X.json?start_date=2017-01-01&end_date=2017-12-31&api_key=%s" %API_KEY)

In [32]:
#Convert the returned JSON object into a Python dictionary.

price=data.json()

In [33]:
price['dataset']['column_names']

['Date',
 'Open',
 'High',
 'Low',
 'Close',
 'Change',
 'Traded Volume',
 'Turnover',
 'Last Price of the Day',
 'Daily Traded Units',
 'Daily Turnover']

In [34]:
daily_price=price['dataset']['data']
daily_price[0:2]

[['2017-12-29',
  51.76,
  51.94,
  51.45,
  51.76,
  None,
  34640.0,
  1792304.0,
  None,
  None,
  None],
 ['2017-12-28',
  51.65,
  51.82,
  51.43,
  51.6,
  None,
  40660.0,
  2099024.0,
  None,
  None,
  None]]

In [35]:
open_price=[row[1] for row in daily_price if row[1] is not None]
open_price.sort()

In [36]:
#highest opening price
open_price[-1]

53.11

In [37]:
#lowest opening price
open_price[0]

34.0

In [38]:
daily_change=[row[2]-row[3] for row in daily_price if (row[2] is not None) and (row[3] is not None)]
daily_change.sort()

In [39]:
#largest change in one day
daily_change[-1]

2.8100000000000023

In [40]:
#What was the largest change between any two days (based on Closing Price)
close_price=[row[4] for row in daily_price if row[4] is not None]
close_price.sort()
print(close_price[-1]-close_price[0])

19.03

In [41]:
#average daily trading volume
daily_volume=[row[6] for row in daily_price if row[6] is not None]
print(sum(daily_volume)/len(daily_volume))

89124.33725490196

In [42]:
#(Optional) What was the median trading volume during this year. (Note: you may need to implement your own function for calculating the median.)

daily_volume.sort()
l=len(daily_volume)
if l%2==0:
    print('median trading volume is %f' %(daily_volume[l/2-1]+daily_volume[l/2]))
else:
    print('median trading volume is %f' %daily_volume[l//2])

median trading volume is 76286.000000

In [43]:
## second part analyze the same questions using panda DataFrame

In [44]:
#Calculate what the highest and lowest opening prices were for the stock in this period
import pandas as pd
daily_price=pd.DataFrame(daily_price)
daily_price.columns=price['dataset']['column_names']
daily_price.head()

,Date,Open,High,Low,Close,Change,Traded Volume,Turnover,Last Price of the Day,Daily Traded Units,Daily Turnover
0,2017-12-29,51.76,51.94,51.45,51.76,NaN,34640.0,1792304.0,None,None,None
1,2017-12-28,51.65,51.82,51.43,51.60,NaN,40660.0,2099024.0,None,None,None
2,2017-12-27,51.45,51.89,50.76,51.82,NaN,57452.0,2957018.0,None,None,None
3,2017-12-22,51.05,51.50,50.92,51.32,NaN,71165.0,3641949.0,None,None,None
4,2017-12-21,51.16,51.52,50.90,51.40,NaN,120649.0,6179433.0,None,None,None

In [45]:
daily_price['Open'].max()

53.11

In [46]:
daily_price['Open'].min()

34.0

In [47]:
daily_price['D_change']=daily_price['High']-daily_price['Low']
daily_price['D_change'].max()

2.8100000000000023

In [48]:
daily_price['Close'].max()-daily_price['Close'].min()

19.03

In [49]:
daily_price['Traded Volume'].mean()

89124.33725490196

In [50]:
daily_price['Traded Volume'].median()

76286.0